<div class="form-field">
    <div class="form-label">
        Я хочу получать вакансии для позиции:
    </div>
    <div class="form-input">
        {{input type="text" value=criteria.text class="form-control" id="form__text" }}
        <p class="help-block search-help">Например, <a {{action 'setText' "бухгалтер"}}>бухгалтер</a></p>
    </div>
</div>

<div class="form-field">
    <div class="form-label">
        Профессиональная область:
    </div>
    <div class="form-input">
        <div class="checkbox">
            <label>
                {{input type="checkbox" name="criteria.allSpecializations" checked=criteria.allSpecializations}}
                Все профессиональные области
            </label>
        </div>
        <hr>
        {{#if specializationsExpanded}}
            {{#each item in filter.specializations}}
                <div class="checkbox">
                    <label>
                        {{view VacancySearch.ListItemCheckbox value=item.id itemsBinding='criteria.specialization'}}
                        {{item.name}}
                    </label>
                </div>
            {{/each}}
        {{else}}
            {{#each item in shortSpecializations}}
                <div class="checkbox">
                    <label>
                        {{view VacancySearch.ListItemCheckbox value=item.id itemsBinding='criteria.specialization'}}
                        {{item.name}}
                    </label>
                </div>
            {{/each}}
        {{/if}}
        <div>
            <a class="padded-link" {{action 'toggleSpecializations'}}>
                {{#if specializationsExpanded}}
                    Показать весь список областей
                {{else}}
                    Показать краткий список областей
                {{/if}}
            </a>
        </div>
    </div>
</div>

<div class="form-field">
    <div class="form-label">
        С уровнем заработной платы:
    </div>
    <div class="form-input">
        <div class="form-inline">
            <label class="sr-only" for="salary-from">С уровнем заработной платы:</label>
            <span>От</span>
            {{input value=criteria.salary type="text" id="salary-from" class="form-control"}}
            {{view Ember.Select
                   content=filter.dictionaries.currency
                   optionValuePath="content.code"
                   optionLabelPath="content.abbr"
                   selection=criteria.currency
                   class="form-control"
                   value=criteria.currency.code
                   id="currency"}}
        </div>
        <div class="checkbox">
            <label>
                {{input type="checkbox" name="onlyWithSalary" checked=criteria.onlyWithSalary}}
                Скрыть вакансии без указания зарплаты
            </label>
        </div>
    </div>
</div>

<div class="form-field">
    <div class="form-label">
        Регион:
    </div>
    <div class="form-input">
        <div class="row">
            <div class="col-xs-5">
                <label class="sr-only" for="region">Регион:</label>
                <select multiple id="region" class="form-control chosen-select" data-placeholder="Введите название региона">
                    <optgroup label="Россия">
                        <option>Москва</option>
                        <option>Пенза</option>
                        <option>Самара</option>
                        <option>Нижний Новгород</option>
                        <option>Санкт-Петербург</option>
                    </optgroup>
                    <optgroup label="Украина">
                        <option>Киев</option>
                        <option>Одесса</option>
                        <option>Львов</option>
                        <option>Харьков</option>
                        <option>Севастополь</option>
                    </optgroup>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="form-field">
    <div class="form-label">
        Тип занятости:
    </div>
    <div class="form-input">
        {{#each item in filter.dictionaries.employment}}
        <div class="checkbox">
            <label>
                {{view VacancySearch.ListItemCheckbox value=item.id itemsBinding='criteria.employment'}}
                {{item.name}}
            </label>
        </div>
        {{/each}}
    </div>
</div>
<div class="form-field">
    <div class="form-label">
        График работы:
    </div>
    <div class="form-input">
        {{#each item in filter.dictionaries.schedule}}
        <div class="checkbox">
            <label>
                {{view VacancySearch.ListItemCheckbox value=item.id itemsBinding='criteria.schedule'}}
                {{item.name}}
            </label>
        </div>
        {{/each}}
    </div>
</div>
