<div class="form-field">
    <div class="form-label">
        Я хочу получать вакансии для позиции:
    </div>
    <div class="form-input">
        {{#each item in presetSearches}}
        <div class="checkbox">
            <label>
                {{view VacancySearch.ListItemCheckbox value=item itemsBinding='criteria.textArray'}}
                {{item}}
            </label>
        </div>
        {{/each}}
        <div>
            {{#link-to 'filter.extended' class="padded-link"}}
                Выбрать другие
            {{/link-to}}
        </div>
    </div>
</div>

<div class="form-field">
    <div class="form-label">
        С уровнем заработной платы:
    </div>
    <div class="form-input form-inline">
        <label class="sr-only" for="salary-from">С уровнем заработной платы:</label>
        <span>От</span>
        {{input value=criteria.salary type="text" id="salary-from" class="form-control"}}
        <span>{{filter.defaultCurrency.abbr}}</span>
    </div>
</div>

<div class="form-field">
    <div class="form-label">
        Мой регион:
    </div>
    <div class="form-input">
        <div class="row">
            <div class="col-xs-5">
                {{multi-select-component
                promt="Введите название региона..."
                contentBinding="filter.areas"
                optionLabelPath="name"
                optionValuePath="id"
                optionGroupPath="country"
                selections=criteria.area
                classNames="area-select"}}
            </div>
        </div>
    </div>
</div>

<div class="form-submit">
    <p>
        <button type="submit" class="btn btn-primary btn-lg" {{action 'submit'}}>
            Сохранить настройки
        </button>
    </p>
</div>
