<div class="content-wrap">
    <h1>Список вакансий</h1>
    {{#each vacancy in model}}
        <div class="row vacancy">
            <div class="col-xs-6">
                <div>
                    <p class="lead vacancy-name">
                        <a target="_blank" {{bind-attr href="vacancy.alternateUrl"}}>
                            {{vacancy.name}}
                        </a>
                    </p>
                </div>
                <div>
                    <p class="text-muted">
                        {{vacancy.employer.name}}
                    </p>
                </div>
            </div>
            <div class="col-xs-4">
                {{#if vacancy.salary}}
                    <p>
                        <strong>
                            {{#if vacancy.salary.from}}
                                от {{vacancy.salary.from}}
                            {{/if}}
                            {{#if vacancy.salary.to}}
                                до {{vacancy.salary.to}}
                            {{/if}}
                            {{#if vacancy.currency}}
                                {{vacancy.currency.abbr}}
                            {{/if}}
                        </strong>
                    </p>
                {{else}}
                    <p class="text-muted">з/п не указана</p>
                {{/if}}
            </div>
            <div class="col-xs-2"></div>
        </div>
    {{else}}
        <div>
            <p>
            Ваша выборка вакансий пока пуста.
            Попробуте {{#link-to 'filter'}}настроить параметры поиска{{/link-to}}
            </p>
        </div>
    {{/each}}
    {{#if loading}}
        <div class="row">
            <div class="col-xs-2 col-xs-offset-5">
                <div class="center-block">
                    <p>
                        <i class="fa fa-spinner fa-spin fa-3x text-muted"></i>
                    </p>
                </div>
            </div>
        </div>
    {{/if}}
</div>
